.form {
    width: 80%;
    margin-left: 10%;
}
.regNo {
    width: 450px;
    margin: 2px;
}
.info {
    width: 300px;
    margin: 2px;
}
.col-8 {
    width: 600px;
    margin: 2px;
}
.col-4 {
    width: 300px;
    margin: 2px;
}
.float-right {
    float: right;
}
.label {
    font-weight: 400;
    color: black;  
}
.title {
    font-size: 20px;
}