table {
    width: 100%;
  }
  .main{
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin: auto;
  }
  .button-style {
    height: 40px;
    width: auto;
    margin: 5px;
  }
  .heading {
    margin-left: 10px;
  }