
<div class="container">
    
     <mat-card class="mat-card-form">
         <mat-card-title>
             Sign Up
         </mat-card-title>

             <mat-form-field appearance="outline" class="mat-form-field-input">
 
                 <mat-icon matPrefix>person</mat-icon>
     
                 <mat-label>Email</mat-label>
                 <input matInput type="text" placeholder="Email">
             </mat-form-field><br>

             <mat-form-field appearance="outline" class="mat-form-field-input">
                <mat-icon matPrefix>lock</mat-icon>
                 <mat-label class="label">Password</mat-label>
                 <input matInput type="password" placeholder="password" [type]="hide ? 'password' : 'text'">
                 <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                     [attr.aria-pressed]="hide">
                     <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                 </button>
             </mat-form-field>
             <!-- <a class="signup-using" routerLink="/login" routerLinkActive="active">Login</a> -->

             <mat-card-actions>
                 <button mat-flat-button class="btn" color="accent">Sign Up</button>
     
             </mat-card-actions>
     </mat-card>
</div>

